<header class="bg-slate-900 border-b border-slate-800 p-4 flex items-center justify-between sticky top-0 z-50 relative">

  <!-- 左：アプリ名 -->
  <h1>
    <%= link_to "ねるまえドリル", root_path, 
    class: "text-lg font-bold text-indigo-400 z-10" %>
  </h1>

  <!-- 中央：ページタイトル（完全中央固定） -->
  <p class="absolute left-1/2 transform -translate-x-1/2 text-xs text-slate-400 font-medium">
    <%= page_title %>
  </p>

  <!-- 右：ログアウト -->
  <%= link_to "ログアウト",
      destroy_user_session_path,
      data: { turbo_method: :delete },
      class: "text-sm font-bold text-slate-400 hover:text-indigo-400 transition z-10" %>

</header>